<h1>Pipe Demo</h1>

<div>
  Name : <input type="text" [(ngModel)]="nameSearch">
</div>
<div>
  Email : <input type="text" [(ngModel)]="emailSearch">
</div>
<div>
  Company : <input type="text" [(ngModel)]="companySearch">
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Company Name</th>
  </tr>
  <tr *ngFor="let person of Persons | category: nameSearch: emailSearch: companySearch">
    <td>{{person.nama}}</td>
    <td>{{person.email}}</td>
    <td>{{person.company}}</td>

  </tr>
</table>
